.boton-flotante {
  position: fixed;
  top: 20px;
  right: 80px;
  padding: 10px;
  z-index: 1100;
}

.toggle-hamburguer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  border: none;
  position: fixed; /* Fijo en la pantalla */
  top: 20px;       /* Separación desde arriba */
  right: 20px;     /* Separación desde la derecha */
  z-index: 1050;   /* Para que esté sobre todo */
}

.toggle-card{
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}