django==4.0.3
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
pillow
gunicorn
whitenoise
dj-database-url
psycopg2-binary
google-auth
requests
reportlab
qrcode
PyPDF2
supabase
